#graph {
	margin: 0 auto;
	text-align: center;
}

.line {
	fill: none;
	stroke: blue;
	clip-path: url(#clip);
}

circle {
	clip-path: url(#clip);
	fill: blue;
}

rect {
	fill: white;
	opacity: 0;
}

#rubric {
	text-align: center;
}
