{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Assign Task</h1>
<div class="row">
	<div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div>
</div>
<article class="overview">
	<table class="table table-striped">
		<thead class="thead-dark">
			<th scope="col">Task ID</th>
			<th scope="col">User ID</th>
			<th scope="col">Username</th>
			<th scope="col">Dataset ID</th>
			<th scope="col">Dataset Name</th>
			<th scope="col">Status</th>
			<th scope="col">Completed On</th>
		</thead>
		{% for task in tasks %}
		<tr>
			<th scope="row">{{ task.id }}</th>
			<td>{{ task.user.id }}</td>
			<td>{{ task.user.username }}</td>
			<td>{{ task.dataset.id }}</td>
			<td>{{ task.dataset.name }}</td>
			<td>{% if task.done %}Completed{% else %}Pending{% endif %}</td>
			<td>{{ task.completed_on }}</td>
		</tr>
		{% endfor %}
		</tr>
	</table>
</article>
{% endblock %}
