{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='annotate.css')}}">
{% endblock %}

{% block app_content %}
<h1>{{ task.dataset.name }}</h1>

<div id="rubric" class="row">
	<div class="col-md-12">
		<p>{{ rubric | safe }}</p>
	</div>
</div>

<div id="graph"></div>

<div id="wrap-buttons" class="row">
	<div class="col-md-6 text-left">
	<button class="btn btn-primary float-md-left" type="button" id="btn-reset">Reset</button>
	</div>
	<div class="col-md-6 text-right">
	<button class="btn btn-warning float-md-right" type="button" id="btn-none">No Changepoints</button>
	<button class="btn btn-success float-md-right" id="btn-submit" type="button">Submit</button>
	</div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="submitNoCPModal" tabindex="-1" role="dialog" aria-labelledby="submitNoCPModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submitNoCPModalLongTitle">No Changepoints Selected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      Please use the "No Changepoints" button when you think there are no changepoints in the time series.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="NoCPYesCPModal" tabindex="-1" role="dialog" aria-labelledby="NoCPYesCPModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NoCPYesCPModalLongTitle">Changepoints Selected</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      There are selected changepoints, please click the Reset button before clicking the "No Changepoints" button.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h3>Selected Changepoints</h3>
<div id="changepoint-table">
	<table id="cp-table" class="table table-striped">
	</table>
</div>

{# Based on: https://github.com/benalexkeen/d3-flask-blog-post/blob/master/templates/index.html #}
{# And: https://bl.ocks.org/mbostock/35964711079355050ff1 #}
<script src="//d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/makeChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/updateTable.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
<script>makeChart({{ data.chart_data | safe }});</script>
<script>
// reset button
var reset = document.getElementById("btn-reset");
reset.onclick = resetOnClick;
// no changepoint button
var nocp = document.getElementById("btn-none");
nocp.onclick = function() {
	noCPOnClick({{ task.id }});
};
// submit button
var submit = document.getElementById("btn-submit");
submit.onclick = function() {
	submitOnClick({{ task.id }});
};
</script>
{% endblock %}
